body {
    font-family: sans-serif;
    background-color: #2b6777;
    display:flex;
    flex-direction:column;
    text-align:center;
    justify-content:space-between;
    margin:0px;
}

.page {
    font-family: sans-serif;
    font-size:30px;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-bottom:0px;
}

.header {
    color: #e4f1fe;
    text-shadow: 1px 1px grey;
    background-color: #34495e;
    font-size:40px;
    height: 170px;
}

.row {
    display:flex;
    flex-direction:row;
}

.display {
    background-color:white;
    color:black;
    padding: 20px;
    margin:30px;
    border: solid black 4px;
    border-radius:15px;
    height: 100px;
    width:500px;
}

.playArea {
    display:flex;
    flex-direction:row;
    align-items:center;
}

.restart {
    height:50px;
    width:200px;
    font-family:sans-serif;
    font-size:20px;
    padding:10px;
    box-shadow:3px 3px;
    margin-bottom:100px;
}

.square {
    width: 110px;
    height: 110px;
    text-align: center;
    line-height:90px;
    font-size: 50px;
    color:black;
    border: solid black 1px;
    background-color:lightblue;
    margin: 4px;
    cursor: pointer;
}

.square:hover, .restart:hover {
    transform:translateY(1px);
}

.restart:hover {
    box-shadow:2px 2px;
}

.square:active, .restart:active {
    transform:translateY(2px);
    box-shadow:0px 0px;
}

.scoreboard {
    background-color:white;
    color:black;
    margin:50px;
    width: 200px;
    height: 330px;
    border: solid black 1px;
}

.board {
    width: 340px;
    height: 340px;
    display:flex;
    margin:50px;
    justify-content:center;
    align-items:center;
    display:grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0px;
}

.buttonRow{
    margin-top:30px;
    display:flex;
    flex-direction:row;
    gap: 30px;
}
